extends ../../partials/header
block main
  form.all-content-inner-wrapper(method="POST" action="/manager/teams/create" enctype="multipart/form-data")
    a.general-link(href="javascript:history.back()") < Back
    span.general-title Create New Team
    span.general-input-title.general-required-input Team Name
    input.general-input(type="text" placeholder="Team Name" name="name" required)
    span.general-input-title.general-required-input Team Image
    input.general-input(type="file" name="file")
    button.general-button Create
