extends ../partials/header
block main
  .welcome-wrapper
    span.welcome-text Welcome #{manager.name}! If you are redirected to this page while using the site, this means there was an error in the system. If so, please get in touch with our IT team :)
